---
layout: layouts/base.njk
permalink: /contact/
title: Contact - Pham Huu Tri
---

<div id="contact" class="page-section active-section">
    <h2 class="page-title">
        <span class="content-en">Contact</span>
        <span class="content-vi">Liên hệ</span>
    </h2>
    
    <div class="about-text">
        <p>
            <b>
                <span class="content-en">Phone:</span>
                <span class="content-vi">Điện thoại:</span>
            </b> 
            <a href="tel:+84865953041" style="color: #111;">(+84) 865 953 041</a>
        </p>
        
        <p>
            <b>Email:</b> 
            <a href="mailto:contact@phamhuutri.com" style="color: #111;">contact@phamhuutri.com</a>
        </p>
        
        <p>
            <b>Instagram:</b> 
            <a href="https://www.instagram.com/phamhuutri.es" target="_blank">@phamhuutri.es</a>
        </p>
        
        <p>
            <b>Facebook:</b> 
            <a href="https://www.facebook.com/phamhuutri108/" target="_blank">Phạm Hữu Trí</a>
        </p>

        <div class="contact-image-wrapper">
            <img src="https://assets.phamhuutri.com/assets/contact/contact-image.jpeg?v=2"
                 alt="Contact Image"
                 id="musical-image">

            <div id="contact-play-hint">
                <span class="content-en">Click to play</span>
                <span class="content-vi">Bấm để phát</span>
            </div>

            <div id="contact-pause-hint">
                <span class="content-en">Click to pause</span>
                <span class="content-vi">Bấm để dừng</span>
            </div>

            <a id="contact-music-credit" href="https://youtu.be/dda4avWrohY" target="_blank">
                ♫ Tùng - Để Leo Một Ngọn Núi ♫
            </a>
        </div>

        <audio id="contact-audio" preload="none">
            <source src="https://assets.phamhuutri.com/assets/contact/Tung-De-Leo-Mot-Ngon-Nui.mp3?v=2" type="audio/mpeg">
        </audio>
    </div>
</div>
