---
layout: layouts/base.njk
title: "Pham Huu Tri - Filmmaker's Portfolio"
permalink: /
---

<div id="home" class="page-section active-section">
    <img src="https://assets.phamhuutri.com/assets/home/one-buddha-is-not-enough.jpeg?v=2" 
         alt="Home Art" 
         class="home-center-img">

    <h1 style="display:none;">Pham Huu Tri - Filmmaker's Portfolio. Short Films, Commercials and Writings.</h1>
    
    <div id="play-hint">
        <span class="content-en">Click to play</span>
        <span class="content-vi">Bấm để phát</span>
    </div>

    <div id="pause-hint">
        <span class="content-en">Click to pause</span>
        <span class="content-vi">Bấm để dừng</span>
    </div>
    
    <a id="music-credit" href="https://www.shazam.com/song/1782208078/angells" target="_blank">
        ♫ Plínio Fabrício - Angells ♫
    </a>
</div>
