<aside class="sidebar">
    <div class="lang-switch">
        <span class="lang-btn active" onclick="setLanguage('en')" id="btn-en">EN</span>
        <span class="separator">-</span>
        <span class="lang-btn" onclick="setLanguage('vi')" id="btn-vi">VI</span>
    </div>

    <div class="site-logo">
        <a href="/">
            <img src="https://assets.phamhuutri.com/assets/home/tri-avatar.jpeg?v=2" alt="Pham Huu Tri">
        </a>
    </div>

    <ul class="main-menu">
        <li>
            <a href="/" id="link-home">
                <span class="content-en">Home</span>
                <span class="content-vi">Trang Chủ</span>
            </a>
        </li>
        <li>
            <a href="/about/" id="link-about">
                <span class="content-en">About</span>
                <span class="content-vi">Về Tôi</span>
            </a>
        </li>
        <li>
            <a href="/contact/" id="link-contact">
                <span class="content-en">Contact</span>
                <span class="content-vi">Liên Hệ</span>
            </a>
        </li>
    </ul>

    <div class="category-group" id="group-short-films">
        <h4>
            <a href="/short-films/" id="link-cat-short-films">
                <span class="content-en">Short Films</span>
                <span class="content-vi">Phim Ngắn</span>
            </a>
        </h4>
        <ul class="category-list" id="sidebar-short-films-list">
            {% for film in collections.shortFilms %}
            <li>
                <a href="/short-films/{{ film.data.slug }}/" id="link-{{ film.data.slug }}">
                    <span class="content-vi">{{ film.data.title_vi }}</span>
                    <span class="content-en">{{ film.data.title_en }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="category-group" id="group-commercials">
        <h4>
            <a href="/commercials/" id="link-cat-commercials">
                <span class="content-en">Commercials</span>
                <span class="content-vi">Quảng Cáo</span>
            </a>
        </h4>
        <ul class="category-list" id="sidebar-commercials-list">
            {% for item in collections.commercials %}
            <li>
                <a href="/commercials/{{ item.data.slug }}/">
                    <span class="content-vi">{{ item.data.title_vi }}</span>
                    <span class="content-en">{{ item.data.title_en }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="category-group" id="group-others">
        <h4>
            <a href="/others/" id="link-cat-others">
                <span class="content-en">Others</span>
                <span class="content-vi">Dự Án Khác</span>
            </a>
        </h4>
        <ul class="category-list" id="sidebar-others-list">
            {% for item in collections.others %}
            <li>
                <a href="/others/{{ item.data.slug }}/">
                    <span class="content-vi">{{ item.data.title_vi }}</span>
                    <span class="content-en">{{ item.data.title_en }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="category-group" id="group-writings">
        <h4>
            <a href="/writings/" id="link-cat-writings">
                <span class="content-en">Writings</span>
                <span class="content-vi">Viết</span>
            </a>
        </h4>
        <ul class="category-list" id="sidebar-writings-list">
            {% for item in collections.writings %}
            <li>
                <a href="/writings/#writings-{{ item.data.slug }}" 
                   onclick="return handleWritingClick(event, 'writings-{{ item.data.slug }}')">
                    <span class="content-vi">{{ item.data.title_vi }}</span>
                    <span class="content-en">{{ item.data.title_en }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="copyright">
        <p>&copy; 2026 Pham Huu Tri.</p>
    </div>
</aside>
